.user-post__container {
    display: flex;
    flex-direction: column;
    height: 120px;
    padding-top: 20px;
    border-top: gainsboro 1px solid;
    margin-left: 8px;
}

.user-post__top-bar {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    margin-bottom: 8px;
}

.user-post__top-bar-left {
    display: flex;
    align-items: center;
}

.user-post__habit {
    margin-right: 8px;
    font-weight: bold;
}

.user-post__like-text {
    color: gray;
}

.user-post__content {
    overflow: scroll;
}
