.habit-post__container {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding-top: 20px;
    border-top: gainsboro 1px solid;
    margin-left: 8px;
}

.habit-post__top-bar {
    color: gray;
    font-size: 14px;
    margin-right: 8px;
}

.habit-post__middle-bar {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    margin-bottom: 8px;
    align-items: center;
}

.habit-post__middle-bar-left {
    display: flex;
}

.habit-post__habit {
    margin-right: 8px;
    font-weight: bold;
}

.habit-post__like-text {
    color: gray;
}

.habit-post__content {
    overflow-y: scroll;
}

